@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #343535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    /*border: 1px solid #fff;*/
    overflow: hidden;
    /*box-shadow: 0px 10px 25px -8px #000;*/
}

#header_individual{
    position: relative;
    width: 100%;
    height: 100%;
    /*border: 1px solid #fff;*/
    overflow: hidden;
    /*box-shadow: 0px 10px 25px -8px #000;*/
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    mask-image: linear-gradient(black 80%, transparent);
    opacity: 90%;
    z-index: -1;
}

header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(180deg, transparent, #000000);*/
    z-index: -1;
}

header nav {
    width: 100%;
    height: 10%;
    /*border: 1px solid #fff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

header .logo_ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo_ul img{
    width: 50px;
}

header nav .logo_ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li{
    padding: 3px 15px;
}

header nav .logo_ul ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s linear;
}

header nav .logo_ul ul li a:hover{
    color: #ccc;
}

header nav .buscar_user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .buscar_user input{
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    margin-right: 10px;
}

header nav .buscar_user input::placeholder{
    color: #fff;
}

header nav .buscar_user img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

header nav .buscar_user .buscar{
    position: absolute;
    width: 320px;
    height: 270px;
    /*border: 1px solid #fff;*/
    right: 0;
    top: 40px;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

header nav .buscar_user .buscar.ocultar_buscar{
    display: none;
}

header nav .buscar_user .buscar::-webkit-scrollbar{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

header nav .buscar_user .buscar::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}

header nav .buscar_user .buscar:hover::-webkit-scrollbar{
    visibility: visible;
}

header nav .buscar_user .buscar:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

header nav .buscar_user .buscar .card{
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    /*display: none;*/
}

header nav .buscar_user .buscar .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #66656520;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav .buscar_user .buscar .card img{
    width: 40px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}

header nav .buscar_user .buscar .card .cont{
    margin-left: 10px;
    color: #fff;
}

header nav .buscar_user .buscar .card .cont h4{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .buscar_user .buscar .card .cont p{
    font-size: 10px;
    color: rgb(255, 255, 255, .8);
}

header nav .buscar_user .buscar .card .cont span{
    background: linear-gradient(#0d253f, #01b4e4, #90cea1);
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

header .content {
    position: relative;
    color: #fff;
    margin-top: 50px;
    padding-left: 50px;
}

header .content h1{
    font-size: 50px;
}

header .content .poster_logo{
    width: 250px;
    margin: 10px;
}

header .content p{
    font-size: 13px;
    width: 360px;
    word-break: keep-all;
}

header .content .details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .content .details h6{
    color: rgb(255, 255, 255, .8);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h5{
    color: rgb(142, 230, 40);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h4{
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h3{
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
}

header .content .details h3 span{
    background: linear-gradient(#0d253f, #01b4e4, #90cea1);
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}

header .content .details h3 i{
    margin-right: 5px;
}

header .content .btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

header .content .btns a{
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    animation: button 1s ease-in infinite;
}

@keyframes button{
    0%{
        background: linear-gradient(0deg, #00bdff, #0079ff);
    }
    12%{
        background: linear-gradient(45deg, #00bdff, #0079ff);
    }
    24%{
        background: linear-gradient(95deg, #00bdff, #0079ff);
    }
    36%{
        background: linear-gradient(145deg, #00bdff, #0079ff);
    }
    48%{
        background: linear-gradient(195deg, #00bdff, #0079ff);
    }
    60%{
        background: linear-gradient(245deg, #00bdff, #0079ff);
    }
    72%{
        background: linear-gradient(295deg, #00bdff, #0079ff);
    }
    100%{
        background: linear-gradient(360deg, #00bdff, #0079ff);
    }
}

header section{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
}

section{
    width: 100%;
    height: auto;
    padding: 0px 50px;
    color: #fff;
}

section .cards{
    position: relative;
    width: 100%;
    height: 200px;
    /*border: 1px solid #fff;*/
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

section .cards::-webkit-scrollbar{
    display: none;
}

section .cards .card{
    position: relative;
    min-width: 130px;
    height: 180px;
    /*border: 1px solid #fff;*/
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: 0.3s linear;
}

section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

header section .cards .card:hover {
    min-width: 300px;
    overflow: hidden;
}

section .cards .card .rest_card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s linear;
}

section .cards .card .rest_card img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}

section .cards .card .rest_card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;
    z-index: -1;
}

section .cards .card .rest_card .cont{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}

section .cards .card .rest_card .cont .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .cards .card .rest_card .cont .sub p{
    font-size: 10px;
    font-weight: 400;
    color: rgb(255, 255, 255, .7);
}

section .cards .card .rest_card .cont .sub h3{
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}

section .cards .card .rest_card .cont .sub h3 span{
    background: linear-gradient(#0d253f, #01b4e4, #90cea1);
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
    border-radius: 2px;
}

section .cards .card .rest_card .cont .sub h3 i{
    margin-right: 3px;
}

section .cards .card:hover .rest_card{
    opacity: 1;
}

section .bi-chevron-left, .bi-chevron-right{
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 999999999;
    opacity: 0;
}

section .bi-chevron-right{
    left: unset;
    right: 3%;
}

section:hover .bi-chevron-right{
    opacity: 1;
}

section:hover .bi-chevron-left{
    opacity: 1;
}

@media screen and (max-width: 1250px){
    header video{
        position: absolute;
        width: 160%;
        height: 180%;
        top: -40%;
    }
}

@media screen and (max-width: 728px){
    header{
        width: 100%;
        height: 100%;
    }

    header nav{
        padding: 0px 10px;
        height: 15%;
        display: flex;
        justify-content: center;
    }

    header nav .logo_ul img{
        display: none;
    }

    header nav .logo_ul ul{
        position: absolute;
        top: 0px;
        left: 10px;
    }

    header nav .logo_ul ul li{
        padding: 3px 5px;
    }

    header nav .logo_ul ul li a{
        font-size: 10px;
    }

    header .content{
        padding-left: 10px;
    }

    header section{
        padding: 0px 10px
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.container_movie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 2px solid #fdb94a;
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;;
    margin-top: 20px;
}

#main_peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    height: 978px;
    overflow: hidden;
    mask-image: linear-gradient(black 99%, transparent);
}

main .peli_individual{
    position: relative; 
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

main .peli_individual img{
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

main .peli_individual .peli_container{
    width: 100%;
    height: 100%;
}

main .peli_individual .peli_container .peli_enlace .peli_logo{
    height: 100%;
}

main .peli_individual .peli_container .peli_enlace .peli_logo:hover{
    opacity: 10%;
    transition: all 0.2s ease-in;
}

main .peli_individual .peli_container .peli_detalle{
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

main .peli_individual:hover .peli_container .peli_detalle{
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

main .peli_individual .peli_container .peli_detalle .peli_info{
    color: var(--septimo-color);
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

main .peli_individual .peli_container .peli_detalle .peli_info .titulo_peli{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    color: #fff;
}
main .peli_individual .peli_container .peli_detalle .peli_info h4{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

main .peli_individual .peli_container .peli_detalle .peli_info span{
    background: linear-gradient(#0d253f, #01b4e4, #90cea1);
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

main .peli_individual .peli_container .peli_detalle .peli_info p{
    font-size: 14px;
    display: flex;
}

main .peli_individual .peli_container .peli_detalle .peli_info p.green{
    color: lightgreen;
}

main .peli_individual .peli_container .peli_detalle .peli_info p.orange{
    color: orange;
}

main .peli_individual .peli_container .peli_detalle .peli_info p.red{
    color: red;
}

main .peli_individual .peli_container .peli_detalle .descripcion{
    color: #fff;
    position: absolute;
    height: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 16px 0 16px;
    max-height: 100%;
    transition: transform 0.3s ease-in;
    overflow-y: auto;
}

main .peli_individual .peli_container .peli_detalle .descripcion p{
    font-size: 14px;
    color: rgb(255, 255, 255, .8);
}

.btn-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-section .btn-expandir{  
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fdb94a;
    box-shadow: inset 0 0 0 2px #fdb94a;
    background-color: transparent;
    height: 48px;
    margin: 15px 0px;
    text-decoration: none;
}

.btn-section .btn-expandir:hover{
    color: #fff;
    background-color: #fdb94a;
}

.btn-section .btn-reducir{
    display: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fdb94a;
    box-shadow: inset 0 0 0 2px #fdb94a;
    background-color: transparent;
    height: 48px;
    margin: 15px 0px;
    text-decoration: none;
}

.btn-section .btn-reducir:hover{
    color: #fff;
    background-color: #fdb94a;
}

#main_series{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    height: 978px;
    overflow: hidden;
    mask-image: linear-gradient(black 99%, transparent);
}

main .serie_individual{
    position: relative; 
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

main .serie_individual img{
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

main .serie_individual .serie_container{
    width: 100%;
    height: 100%;
}

main .serie_individual .serie_container .serie_enlace .serie_logo{
    height: 100%;
}

main .serie_individual .serie_container .serie_enlace .serie_logo:hover{
    opacity: 10%;
    transition: all 0.2s ease-in;
}

main .serie_individual .serie_container .serie_detalle{
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

main .serie_individual:hover .serie_container .serie_detalle{
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

main .serie_individual .serie_container .serie_detalle .serie_info{
    color: var(--septimo-color);
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

main .serie_individual .serie_container .serie_detalle .serie_info .titulo_serie{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    color: #fff;
}
main .serie_individual .serie_container .serie_detalle .serie_info h4{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

main .serie_individual .serie_container .serie_detalle .serie_info span{
    background: linear-gradient(#0d253f, #01b4e4, #90cea1);
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

main .serie_individual .serie_container .serie_detalle .serie_info p{
    font-size: 14px;
    display: flex;
}

main .serie_individual .serie_container .serie_detalle .serie_info p.green{
    color: lightgreen;
}

main .serie_individual .serie_container .serie_detalle .serie_info p.orange{
    color: orange;
}

main .serie_individual .serie_container .serie_detalle .serie_info p.red{
    color: red;
}

main .serie_individual .serie_container .serie_detalle .descripcion{
    color: #fff;
    position: absolute;
    height: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 16px 0 16px;
    max-height: 100%;
    transition: transform 0.3s ease-in;
    overflow-y: auto;
}

main .serie_individual .serie_container .serie_detalle .descripcion p{
    font-size: 14px;
    color: rgb(255, 255, 255, .8);
}

footer .container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

footer .container_footer .container-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .container_footer .container-redes h3{
    color: #fdb94a;
}

footer .container_footer .container-redes .enlaces_redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .container_footer .container-redes .enlaces_redes .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

footer .container_footer .container-redes .enlaces_redes .redes i{
    width: 30px;
    height: 35px;
    font-size: 30px;
    color: #fdb94a;
    margin-bottom: 10px;
}

footer .container_footer .container_footer-iamgen {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container_footer .container_footer-iamgen .img_footer {
    width: 200px;
    height: 200px;
}

footer .container_footer .container_footer-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

footer .container_footer .container_footer-contenido .enlaces{
    color: #fdb94a;
    font-family: 'Poppins', sans-serif;
}