@font-face {
    font-family: 'Arimo';
    src: url('../librerias//fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype'),
         url('../librerias/fonts/Arimo/Arimo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chewy';
    src: url('../librerias/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
