.review_section{
    display: grid;
    width: 100%;
    grid-template-areas:
        "review  comment"
        "rating  comment";
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.review{
    margin-top: 25px;
    grid-area: review;
    background: #fff;
    padding: 32px;
    max-width: 676px;
    width: 100%;
    border-radius: 10px;
    box-shadow: #4d4a4a;
    text-align: center;
    justify-self: flex-end;
    margin-right: 10px;
}

.review h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.rating_sect{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    font-size: 32px;
    color: #fdb94a;
    margin-bottom: 32px;
}

.rating_sect .star{
    cursor: pointer;
}

.rating_sect .star.active{
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.rating_sect .star:hover{
    transform: scale(1.1);
}

textarea{
    width: 100%;
    background: #ebe7e7;
    padding: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
}

.btn_review{
    display: flex;
    grid-gap: 8px;
    align-items: center;
}

.btn_review .btn{
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.btn_review .btn.submit{
    background: #fdb94a;
    color: #000;
}

.btn_review .btn.cancelar{
    background: #fdb94a;
    color: #000;
}

.btn_review .btn.cancelar:hover, .btn.submit:hover{
    opacity: 90%;
}

.rating_table{
    margin-top: 15px;
    grid-area: rating;
    max-width: 676px;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: grid;
    place-items: center;
    border-radius: 10px;
    justify-self: self-end;
    margin-right: 10px;
}

.rtg_table{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.rating_average{
    width: 30%;
    background-color: #ebe7e7;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 0 30px 30px;
}

.rating_average h1{
    font-size: 48px;
}

.rating_average p{
    margin-top: 13px;
    letter-spacing: 2px;
}

.rating_average .star-outer{
    position: relative;
    font-size: 32px;
    display: inline-block;
}

.rating_average .star-outer::before{
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #554d42;
}

.rating_average .star-inner{
    position: absolute;
    top: 0;
    left: 0;

    width: 75%;
    overflow: hidden;
}

.rating_average .star-inner::before{
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #fdb94a;
}

.rating_progress{
    width: 70%;
}

.rating_progress_value{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 16px;
    width: 85%;
}

.rating_progress_value p{
    display: flex;
    align-items: center;
}

.rating_progress_value .star{
    font-size: 19px;
    color: #fdb94a;
}

.rating_progress_value .star-table{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.rating_progress_value p:last-child{
    width: 10%;
}

.rating_progress .progress{
    flex: 1 1 0;
    height: 8px;
    border-radius: 8px;
    background-color: #554d42;
}

.bar{
    height: 100%;
    background-color: #fdb94a;
    border-radius: 8px;   
}

.review_comment{
    margin-top: 25px;
    grid-area: comment;
    max-width: 676px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 590px;
    justify-self: flex-start;
    margin-left: 10px;
}

.comment_box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.comment_box_container::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}

.comment_box_container:hover::-webkit-scrollbar {
    visibility: visible;
}

.comment_box_container::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px; /* Radio del thumb */
}

.comment_box_container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track */
}

.comment_box{
    width: 95%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0; 
}

.profile{
    display: flex;
    align-items: center;
}

.profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile_name{
    display: flex;
    flex-direction: column;
}

.profile_name strong{
    color: #1a1a1a;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.profile_name span{
    color: #5c5c5c;
    font-size: 14px;
}

.reviews{
    color: #fdb94a;
}

.box_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user_comments{
    font-size: 15px;
    color: #000;
}