* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.peli {
    width: 200px;
    height: 300px;
}

a {
    text-decoration: none;
}

h5 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.page {
    background-color: #1A2D42;
}

.nav_container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container_imagen .container_enlaces {
    width: 100%;
}

.container_imagen {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 20px;
    border-radius: 20px;

}

.container_banner-img {
    background-image: url("/src/img/peli-1.jpg");
    background-size: contain;
    border-radius: 20px;
}

.container_enlaces {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_enlaces a{
    color: #fda481;
    margin-right: 15px;
}

.section_container {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    background-image: url(/src/img/banner-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.banner-img {
    background-color: #ddd;
}

.section_banner {
    display: flex;
    flex-direction: column;
    margin-top: 90px;

}

.section-bienvenida {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    line-height: 40px;
}

.section_buscar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cajabuscar {
    width: 90%;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 90px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s {
    border: none;
    outline: none;
    width: 60%;
    color: #ddd;
    margin-right: 20px;

}

.fa-search {
    color: #ddd;
}

.btn-buscar {
    margin-left: 30px;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 90px;
    cursor: pointer;

}

.logo {
    height: 80px;
    width: 80px;
}


.titulo {
    font-family: "Chewy", serif;
    font-weight: 800;
    color: #fda481;
}

main {
    padding: 0;
}

.body_carrusel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.container_banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-carousel {
    position: relative;
    width: 800px;
    height: 300px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 3);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.container_subtitulo {
    width: 100%;
    text-align: center;
}

.subtitulo {
    font-family: "Chewy", sans-serif;
    font-weight: bold;
    color: #fda481;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #fda481;
}

.subtitulo3 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: #fda481;
}

.secciones {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.seccion {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.titulo_secciones {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: #fda481;

}

.peli {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;


}

.peli_individual {
    position: relative;
    width: 250px;
    height: 350px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

.peli_individual img {

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

.titulo_peli {
    text-align: center;
    position: relative;
    bottom: 180px;
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.peli_logo {
    width: 250px;
    height: 350px;
}

.peli_logo:hover {
    opacity: 30%;
    transition: all 0.2s ease-in;
}

.peli_individual:hover .peli_info {
    opacity: 1;
    pointer-events: none;
}


.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.container-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.enlaces_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.redes {
    color: white;
    margin-bottom: 10px;
}

.container_footer-iamgen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_footer {
    width: 200px;
    height: 200px;
}

.container_footer-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.section-peliculas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.peli_contain {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    padding-top: 50px;
    padding-left: 30px;
    width: 100%;

}

.peli-contaim_img img {
    width: 320px;
    height: 500px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    object-fit: cover;
}

h2 {
    font-family: "Chewy";
    font-weight: bold;
    margin-bottom: 10px;
    color: #fda481;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fda481;
    margin-top: 5;
}

h3 span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    margin-top: 5;

}

p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.section-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.table-comentario {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.comentarios-exitente {
    height: 80%;
}

.crear-comenterio {
    height: 20%;

}

.comentario {
    padding: 20px 30px 20px 30px;

}

.comentario {
    display: flex;
    align-items: center;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

.comentario img {
    width: 40px;
    height: 40px;
}

.comentario h4 {
    padding-left: 50px;
}

.container-comentario {
    display: flex;
}