@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primer-color: #1A2D42;
    --segundo-color: #2E4156;
    --tercer-color: #AAB7B7;
    --cuarto-color: #C0C8CA;
    --quinto-color: #D4D8DD;
    --sexto-color: #fff;
    --septimo-color: #eee;
}

body{
    background-color: var(--primer-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header{
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--segundo-color);
}

.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container_imagen .container_enlaces {
    width: 100%;
}

.container_imagen {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 20px;
    border-radius: 20px;

}

.container_enlaces{
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: 50px;
}

.enlace{
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.enlaces {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: var(--sexto-color);
}

.buscar_container{
    background-color: var(--segundo-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar_elemento{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.buscar_elemento h3{
    align-self: center;
    margin-right: 16px;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 24px;
}

.buscar{
    background-color: transparent;
    border: 2px solid var(--primer-color);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 16px;
    color: var(--sexto-color);
    font-family: inherit;
    position: relative;
    width: 300px;
}

.buscar:focus{
    outline: 0;
    background-color: var(--primer-color);
}

.buscar::placeholder{
    color: var(--quinto-color);
}

.buscar_lista{
    position: absolute;
    right: 0;
    top: 100%;
    max-width: 290px;
    height: 90px;
    overflow-y: scroll;
    z-index: 10;
}

.buscar_lista .buscar_lista_item{
    background-color: var(--cuarto-color);
    padding: 8px;
    border-bottom: 1px solid var(--primer-color);
    width: calc(290px - 8px);
    height: 80px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buscar_lista .buscar_lista_item:hover{
    background-color: #8e9292;
}

.buscar_lista_item{
    display: flex;
    align-items: center;
}

.buscar_item_img img{
    width: 40px;
    margin-right: 16px;
}

.buscar_item_info h3{
    font-weight: 600;
    font-size: 16px;
}

.buscar_item_info p{
    font-size: 12px;
    margin-top: 8px;
    font-weight: 600;
    opacity: 0.6;
}

.buscar_lista::-webkit-scrollbar{
    width: 8px;
}

.buscar_lista::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.buscar_lista::-webkit-scrollbar-thumb{
    background-color: var(--primer-color);
    outline: none;
    border-radius: 10px;
}

.ocultar_buscar{
    display: none;
}

.section_container {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    background-image: url(/src/img/banner-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.section_banner {
    display: flex;
    flex-direction: column;
    margin-top: 90px;

}

.section-bienvenida {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    line-height: 40px;
}

.container_subtitulo {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.subtitulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--septimo-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #fda481;
}

.subtitulo3 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: #fda481;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.peli_individual {
    position: relative; 
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

.peli_individual img {
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
}

.peli_container{
    width: 100%;
}

.peli_enlace{
    position: absolute;
}

.peli_detalle{
    position: absolute; 
    bottom: 380px;
    width: 100%;
    opacity: 0;
}

.peli_logo {
    width: 300px;
}

.peli_logo:hover {
    opacity: 10%;
    transition: all 0.2s ease-in;
}

.titulo_peli {
    width: 80%;
    text-align: start;
    position: relative;
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.peli_individual:hover .peli_detalle {
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

.peli_info{
    color: var(--septimo-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

.peli_info h3{
    margin-top: 0;
}

.peli_info span{
    background-color: var(--primer-color);
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
}

.peli_info span.green{
    color: lightgreen;
}

.peli_info span.orange{
    color: orange;
}

.peli_info span.red{
    color: red;
}

.descripcion{
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.pelicula:hover .descripcion{
    transform: translateY(0);
}

#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}

.noresult{
    color: white;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.container-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.enlaces_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redes {
    color: white;
}

.redes img{
    width: 35px;
    height: 35px;
}

.container_footer-iamgen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_footer {
    width: 200px;
    height: 200px;
}

.container_footer-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}